.page-header-mask {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #00597F;
    height: 400px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% calc(100% - 30px), 0% 100%);
    padding: 10px;
    background-image: url('images/header-bg.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 

}
@media screen and (min-width: 992px) {
    .side_block ul.lb-box-grid li.col-md-12:not(:last-child) {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .two-middle ul.lb-box-grid li.col-md-12:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .two-middle ul.lb-box-grid li.col-md-12:not(.col-lg-6):not(:last-child) {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    ul.lb-box-grid li.item {
        max-width: none;
    }

    ul.lb-box-grid li.item:not(:last-child) {
        margin-bottom: 10px;
    }

}
